.git
.gitignore

# IDE directories
.vscode
.idea

# caches
__pycache__
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
.mypy_cache
.pytest_cache
htmlcov
.coverage


# env
.venv/
.env
venv/
.env/
# Env var file
env

# misc
.pre-commit-config.yaml
.docker

media/*
media/*/*
media/*/*/*
media/*/*/*/*
